{cover_enabled, true}.
{deps, [
        {proper_eunit, ".*", {git, "git://github.com/liskin/proper_eunit.git", "d5c98347b"}},
        {proper, ".*", {git, "git://github.com/manopapad/proper.git", {tag, "v1.1"}}},
        {triq, ".*", {git, "git://github.com/krestenkrab/triq.git", {branch, "master"}}}
       ]}.
{erl_opts, [warnings_as_errors]}.
{edoc_opts, [{sort_functions, false}]}.
